div {
    left: 16px;
    right: 16px;
}

h1 {
    position: relative;
    font-family:'Segoe UI';
    font-size: 25px;
    font-weight: 400;
    /* text-decoration: underline;
    text-decoration-color: rgb(85, 85, 85); */
}

textarea[type=text] {
    width: 100%;
    padding: 6.5px 7px 7px;
    font-size: 20px;
    border: 0.5px solid grey;
    border-radius: 1px;
    margin: 1px 0;
    font-family:'Segoe UI';
    box-sizing: border-box;
    outline: none;
    resize: none;
  }

textarea[type=text]:focus {
border: 2px solid rgb(219, 171, 109);
}

label {
font-size: 12px;
font-family:'Segoe UI';
}

label[for=tags] {
    position: relative;
    top: 9px;
    left: 5px
}

body {
background-color: #eeeeee;
}

button {
    float: right;
    width: 80px;
    height: 23px;
    margin: 0px 8px;
    color: black;
    font-weight: 400;
    background-color: #fdfdfd;
    border: 0.5px solid rgb(192, 192, 192);
    border-radius: 4px;
    font-family:'Segoe UI';
}

#tportion {
    position: fixed;
    top: 16px;
}

#bportion {
    position: fixed;
    bottom: 12px;
}

#tags {
    width: 100%;
    padding: 1px 3px 1px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin: 10px 0;
}

#tagspan {
    display: block;
    padding-left: 40px;
}